/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #1C90F3;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}
